In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\new folder\lib\site-packages (1.3.1)
Requirement already satisfied: numpy>=1.17.3 in c:\new folder\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\new folder\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\new folder\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\new folder\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\new folder\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\new folder\lib\site-packages)

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("services.csv")

In [5]:
df.head() #gives last 5 record

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [6]:
df.head(3) #gives first 3 record

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [7]:
df.tail()# gives last 5 record

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [10]:
list(df.columns) #gives list of all columns

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [12]:
df["languages"] #gives data of particular column

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21    Spanish
22        NaN
Name: languages, dtype: object

In [13]:
type(df["languages"] )

pandas.core.series.Series

In [16]:
df[['email','languages']] #in case of multiple index we need to pass it as list untill it will give error

                    email languages
0                     NaN       NaN
1                     NaN       NaN
2                     NaN       NaN
3                     NaN       NaN
4                     NaN       NaN
5                     NaN       NaN
6                     NaN       NaN
7                     NaN       NaN
8                     NaN       NaN
9                     NaN       NaN
10                    NaN       NaN
11                    NaN       NaN
12                    NaN       NaN
13                    NaN       NaN
14                    NaN       NaN
15                    NaN       NaN
16                    NaN       NaN
17                    NaN       NaN
18                    NaN       NaN
19                    NaN       NaN
20                    NaN       NaN
21  passports@example.org   Spanish
22                    NaN       NaN

In [17]:
df.dtypes #gives the data type availabe in  ur dataset

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [18]:
pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [19]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.0 kB 435.7 kB/s eta 0:00:01
   ------ -------------------------------- 41.0/250.0 kB 326.8 kB/s eta 0:00:01
   ------ -------------------------------- 41.0/250.0 kB 326.8 kB/s eta 0:00:01
   ------ -------------------------------- 41.0/250.0 kB 326.8 kB/s eta 0:00:01
   ----------- --------------------------- 71.7/250.0 kB 231.8 kB/s eta 0:00:01
   -------------- ------------------------ 92.2/250.0 kB 275.8 kB/s eta 0:00:01
   -------------- ------------------------ 92.2/250.0 kB 275.8 kB/s eta 0:00:01
   -------------- ------------------------ 92.2/250.0 kB 275.8 kB/s eta 0:00:01
   ------------------ ------------------- 122.9/250.0 kB 248.7 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/250.0 kB 266.2 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/250.0 kB 266.2 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/250.0 kB 266.2 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/250.0 kB 266.2 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/250.0 kB 266.2 kB/s eta 0:00:01
   ----------------------- -------------- 153.6/250.0 kB 199.4 kB/s eta 0:00:01
   -------------------------- ----------- 174.1/250.0 kB 214.2 kB/s eta 0:00:01
   -------------------------- ----------- 174.1/250.0 kB 214.2 kB/s eta 0:00:01
   -------------------------- ----------- 174.1/250.0 kB 214.2 kB/s eta 0:00:01
   -------------------------- ----------- 174.1/250.0 kB 214.2 kB/s eta 0:00:01
   ---------------------------- --------- 184.3/250.0 kB 185.8 kB/s eta 0:00:01
   ---------------------------- --------- 184.3/250.0 kB 185.8 kB/s eta 0:00:01
   ---------------------------- --------- 184.3/250.0 kB 185.8 kB/s eta 0:00:01
   ---------------------------- --------- 184.3/250.0 kB 185.8 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.0 kB 170.7 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.0 kB 170.7 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.0 kB 170.7 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.0 kB 170.7 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.0 kB 170.7 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.0 kB 170.7 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/250.0 kB 154.7 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/250.0 kB 154.7 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/250.0 kB 154.7 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/250.0 kB 154.7 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/250.0 kB 154.7 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/250.0 kB 154.7 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/250.0 kB 154.7 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/250.0 kB 154.7 kB/s eta 0:00:01
   ----------------------------------- -- 235.5/250.0 kB 126.5 kB/s eta 0:00:01
   ----------------------------------- -- 235.5/250.0 kB 126.5 kB/s eta 0:00:01
   ----------------------------------- -- 235.5/250.0 kB 126.5 kB/s eta 0:00:01
   ----------------------------------- -- 235.5/250.0 kB 126.5 kB/s eta 0:00:01
   -------------------------------------  245.8/250.0 kB 119.6 kB/s eta 0:00:01
   -------------------------------------- 250.0/250.0 kB 119.9 kB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\new folder\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\new folder\lib\site-packages)

In [21]:
df1=pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

In [22]:
df1.dtypes

Unnamed: 0    float64
Unnamed: 1    float64
Unnamed: 2    float64
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
dtype: object

In [23]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [24]:
df1[['Unnamed: 2','Unnamed: 8']]

    Unnamed: 2                 Unnamed: 8
0          NaN                        NaN
1          NaN                        NaN
2          NaN                        NaN
3          NaN                        NaN
4          NaN                        NaN
5          NaN                        NaN
6          NaN                        NaN
7          NaN                        NaN
8          NaN                        NaN
9          NaN                        NaN
10         NaN                        NaN
11         NaN                        NaN
12         NaN                        NaN
13         NaN                        NaN
14         NaN                        NaN
15         NaN  "YYYY-MM-DDTHH:MM:SS.00Z"
16         NaN                        NaN
17         NaN   2019-04-10T 13:30:45.55Z
18         NaN                        NaN
19         NaN  2019-04-10T13:30:45+04:00
20         NaN                        NaN
21         NaN  2019-04-10NSingaporeClose
22         NaN                        NaN
23         NaN                        NaN
24         NaN                        NaN
25         NaN                        NaN
26         NaN                        NaN
27         NaN                        NaN

In [25]:
df1.tail(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
25,NaN,NaN,NaN,NaN,Add an hour to your datetime,2019-04-10 14:30:45.550000,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Subtract a minute from your datetime,2019-04-10 14:29:45.550000,NaN,NaN,NaN,NaN

In [27]:
pip install lxml

Collecting lxmlNote: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\new folder\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\new folder\lib\site-packages)

  Downloading lxml-5.1.0-cp39-cp39-win_amd64.whl.metadata (3.6 kB)
Downloading lxml-5.1.0-cp39-cp39-win_amd64.whl (3.9 MB)
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.9 MB 163.8 kB/s eta 0:00:24
   ---------------------------------------- 0.0/3.9 MB 217.9 kB/s eta 0:00:18
   - -------------------------------------- 0.1/3.9 MB 504.4 kB/s eta 0:00:08
   - -------------------------------------- 0.1/3.9 MB 504.4 kB/s eta 0:00:08
   -- ------------------------------------- 0.2/3.9 MB 655.1 kB/s eta 0:00:06
   -- ------------------------------------- 0.2/3.9 MB 655.1 kB/s eta 0:00:06
   -- ------------------------------------- 0.2/3.9 MB 655.1 kB/s eta 0:00:06
   -- ------------------------------------- 0.2/3.9 MB 655.1 kB/s eta 0:00:06
   -- ------------------------------------- 0.2/3.9 MB 655.1 kB/s eta 0:00:06
   -- ------------------------------------- 0.3/3.9 MB 516.0 kB/s eta 0:00:08
   -- ------------------------------------- 0.3/3.9 MB 516.0 kB/s eta 0:00:08
   --- ------------------------------------ 0.4/3.9 MB 570.8 kB/s eta 0:00:07
   --- ------------------------------------ 0.4/3.9 MB 570.8 kB/s eta 0:00:07
   ---- ----------------------------------- 0.4/3.9 MB 565.6 kB/s eta 0:00:07
   ---- ----------------------------------- 0.4/3.9 MB 565.6 kB/s eta 0:00:07
   ---- ----------------------------------- 0.4/3.9 MB 537.6 kB/s eta 0:00:07
   ---- ----------------------------------- 0.5/3.9 MB 568.9 kB/s eta 0:00:07
   ----- ---------------------------------- 0.5/3.9 MB 576.4 kB/s eta 0:00:06
   ----- ---------------------------------- 0.5/3.9 MB 576.4 kB/s eta 0:00:06
   ----- ---------------------------------- 0.6/3.9 MB 571.8 kB/s eta 0:00:06
   ----- ---------------------------------- 0.6/3.9 MB 571.8 kB/s eta 0:00:06
   ----- ---------------------------------- 0.6/3.9 MB 571.8 kB/s eta 0:00:06
   ----- ---------------------------------- 0.6/3.9 MB 571.8 kB/s eta 0:00:06
   ------ --------------------------------- 0.7/3.9 MB 550.4 kB/s eta 0:00:06
   ------ --------------------------------- 0.7/3.9 MB 550.4 kB/s eta 0:00:06
   ------- -------------------------------- 0.7/3.9 MB 565.2 kB/s eta 0:00:06
   ------- -------------------------------- 0.7/3.9 MB 565.2 kB/s eta 0:00:06
   ------- -------------------------------- 0.7/3.9 MB 534.6 kB/s eta 0:00:06
   -------- ------------------------------- 0.8/3.9 MB 560.8 kB/s eta 0:00:06
   -------- ------------------------------- 0.8/3.9 MB 560.8 kB/s eta 0:00:06
   -------- ------------------------------- 0.8/3.9 MB 559.8 kB/s eta 0:00:06
   -------- ------------------------------- 0.8/3.9 MB 559.8 kB/s eta 0:00:06
   --------- ------------------------------ 0.9/3.9 MB 576.5 kB/s eta 0:00:06
   --------- ------------------------------ 0.9/3.9 MB 572.4 kB/s eta 0:00:06
   --------- ------------------------------ 1.0/3.9 MB 569.6 kB/s eta 0:00:06
   ---------- ----------------------------- 1.0/3.9 MB 576.3 kB/s eta 0:00:06
   ---------- ----------------------------- 1.0/3.9 MB 585.1 kB/s eta 0:00:05
   ----------- ---------------------------- 1.1/3.9 MB 615.4 kB/s eta 0:00:05
   ----------- ---------------------------- 1.1/3.9 MB 611.1 kB/s eta 0:00:05
   ------------ --------------------------- 1.2/3.9 MB 623.2 kB/s eta 0:00:05
   ------------ --------------------------- 1.2/3.9 MB 629.2 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.9 MB 639.7 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.9 MB 639.7 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.9 MB 639.7 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.9 MB 607.4 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.9 MB 607.4 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.9 MB 607.4 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.9 MB 607.4 kB/s eta 0:00:05
   -------------- ------------------------- 1.4/3.9 MB 615.8 kB/s eta 0:00:04
   -------------- ------------------------- 1.4/3.9 MB 615.8 kB/s eta 0:00:04
   -------------- ------------------------- 1.4/3.9 MB 615.8 kB/s eta 0:00:04
   -------------- ------------------------- 1.4/3.9 MB 615.8 kB/s eta 0:00:04
   -------------- ------------------------- 1.4/3.9 MB 615.8 kB/s eta 0:00:04
   -------------- ------------------------- 1.4/3.9 MB 615.8 kB/s eta 0:00:04
   -------------- ------------------------- 1.4/3.9 MB 615.8 kB/s eta 0:00:04
   --------------- ------------------------ 1.5/3.9 MB 555.2 kB/s eta 0:00:05
   --------------- ------------------------ 1.5/3.9 MB 567.6 kB/s eta 0:00:05
   ---------------- ----------------------- 1.6/3.9 MB 576.6 kB/s eta 0:00:05
   ---------------- ----------------------- 1.6/3.9 MB 576.6 kB/s eta 0:00:05
   ---------------- ----------------------- 1.6/3.9 MB 576.6 kB/s eta 0:00:05
   ----------------- ---------------------- 1.7/3.9 MB 583.6 kB/s eta 0:00:04
   ----------------- ---------------------- 1.7/3.9 MB 581.7 kB/s eta 0:00:04
   ----------------- ---------------------- 1.7/3.9 MB 579.4 kB/s eta 0:00:04
   ----------------- ---------------------- 1.7/3.9 MB 579.4 kB/s eta 0:00:04
   ------------------ --------------------- 1.8/3.9 MB 574.7 kB/s eta 0:00:04
   ------------------ --------------------- 1.8/3.9 MB 572.2 kB/s eta 0:00:04
   ------------------ --------------------- 1.8/3.9 MB 572.2 kB/s eta 0:00:04
   ------------------ --------------------- 1.8/3.9 MB 572.2 kB/s eta 0:00:04
   ------------------- -------------------- 1.9/3.9 MB 588.5 kB/s eta 0:00:04
   ------------------- -------------------- 1.9/3.9 MB 588.5 kB/s eta 0:00:04
   ------------------- -------------------- 1.9/3.9 MB 580.8 kB/s eta 0:00:04
   ------------------- -------------------- 1.9/3.9 MB 580.8 kB/s eta 0:00:04
   --------------------- ------------------ 2.1/3.9 MB 601.3 kB/s eta 0:00:04
   --------------------- ------------------ 2.1/3.9 MB 601.3 kB/s eta 0:00:04
   --------------------- ------------------ 2.1/3.9 MB 588.1 kB/s eta 0:00:04
   --------------------- ------------------ 2.1/3.9 MB 588.1 kB/s eta 0:00:04
   --------------------- ------------------ 2.1/3.9 MB 588.1 kB/s eta 0:00:04
   --------------------- ------------------ 2.1/3.9 MB 588.1 kB/s eta 0:00:04
   ---------------------- ----------------- 2.2/3.9 MB 591.8 kB/s eta 0:00:03
   ---------------------- ----------------- 2.2/3.9 MB 591.8 kB/s eta 0:00:03
   ---------------------- ----------------- 2.2/3.9 MB 582.5 kB/s eta 0:00:03
   ---------------------- ----------------- 2.2/3.9 MB 582.5 kB/s eta 0:00:03
   ---------------------- ----------------- 2.2/3.9 MB 582.5 kB/s eta 0:00:03
   ----------------------- ---------------- 2.3/3.9 MB 582.0 kB/s eta 0:00:03
   ------------------------ --------------- 2.3/3.9 MB 588.2 kB/s eta 0:00:03
   ------------------------ --------------- 2.4/3.9 MB 591.9 kB/s eta 0:00:03
   ------------------------ --------------- 2.4/3.9 MB 597.0 kB/s eta 0:00:03
   ------------------------ --------------- 2.4/3.9 MB 597.0 kB/s eta 0:00:03
   ------------------------- -------------- 2.5/3.9 MB 593.8 kB/s eta 0:00:03
   ------------------------- -------------- 2.5/3.9 MB 594.5 kB/s eta 0:00:03
   -------------------------- ------------- 2.6/3.9 MB 604.9 kB/s eta 0:00:03
   -------------------------- ------------- 2.6/3.9 MB 604.9 kB/s eta 0:00:03
   -------------------------- ------------- 2.6/3.9 MB 604.9 kB/s eta 0:00:03
   --------------------------- ------------ 2.7/3.9 MB 606.3 kB/s eta 0:00:03
   --------------------------- ------------ 2.7/3.9 MB 606.3 kB/s eta 0:00:03
   --------------------------- ------------ 2.7/3.9 MB 602.6 kB/s eta 0:00:02
   --------------------------- ------------ 2.7/3.9 MB 602.6 kB/s eta 0:00:02
   ---------------------------- ----------- 2.8/3.9 MB 601.7 kB/s eta 0:00:02
   ---------------------------- ----------- 2.8/3.9 MB 604.2 kB/s eta 0:00:02
   ---------------------------- ----------- 2.8/3.9 MB 602.6 kB/s eta 0:00:02
   ---------------------------- ----------- 2.8/3.9 MB 602.6 kB/s eta 0:00:02
   ----------------------------- ---------- 2.9/3.9 MB 603.6 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.9 MB 610.6 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.9 MB 610.6 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.9 MB 610.6 kB/s eta 0:00:02
   ------------------------------ --------- 3.0/3.9 MB 607.6 kB/s eta 0:00:02
   ------------------------------- -------- 3.0/3.9 MB 608.0 kB/s eta 0:00:02
   ------------------------------- -------- 3.1/3.9 MB 612.4 kB/s eta 0:00:02
   -------------------------------- ------- 3.2/3.9 MB 621.1 kB/s eta 0:00:02
   -------------------------------- ------- 3.2/3.9 MB 621.1 kB/s eta 0:00:02
   -------------------------------- ------- 3.2/3.9 MB 621.1 kB/s eta 0:00:02
   -------------------------------- ------- 3.2/3.9 MB 615.8 kB/s eta 0:00:02
   --------------------------------- ------ 3.2/3.9 MB 612.7 kB/s eta 0:00:02
   --------------------------------- ------ 3.3/3.9 MB 616.8 kB/s eta 0:00:02
   --------------------------------- ------ 3.3/3.9 MB 616.8 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.9 MB 617.3 kB/s eta 0:00:01
   ---------------------------------- ----- 3.4/3.9 MB 617.6 kB/s eta 0:00:01
   ---------------------------------- ----- 3.4/3.9 MB 617.6 kB/s eta 0:00:01
   ---------------------------------- ----- 3.4/3.9 MB 617.6 kB/s eta 0:00:01
   ---------------------------------- ----- 3.4/3.9 MB 611.1 kB/s eta 0:00:01
   ----------------------------------- ---- 3.5/3.9 MB 613.3 kB/s eta 0:00:01
   ----------------------------------- ---- 3.5/3.9 MB 613.3 kB/s eta 0:00:01
   ----------------------------------- ---- 3.5/3.9 MB 612.3 kB/s eta 0:00:01
   ----------------------------------- ---- 3.5/3.9 MB 612.3 kB/s eta 0:00:01
   ----------------------------------- ---- 3.5/3.9 MB 612.3 kB/s eta 0:00:01
   ------------------------------------ --- 3.6/3.9 MB 608.3 kB/s eta 0:00:01
   ------------------------------------ --- 3.6/3.9 MB 608.3 kB/s eta 0:00:01
   ------------------------------------- -- 3.7/3.9 MB 612.4 kB/s eta 0:00:01
   ------------------------------------- -- 3.7/3.9 MB 616.1 kB/s eta 0:00:01
   -------------------------------------- - 3.7/3.9 MB 614.7 kB/s eta 0:00:01
   -------------------------------------- - 3.7/3.9 MB 614.7 kB/s eta 0:00:01
   -------------------------------------- - 3.7/3.9 MB 614.7 kB/s eta 0:00:01
   ---------------------------------------  3.8/3.9 MB 618.8 kB/s eta 0:00:01
   ---------------------------------------  3.9/3.9 MB 617.5 kB/s eta 0:00:01
   ---------------------------------------  3.9/3.9 MB 614.6 kB/s eta 0:00:01
   ---------------------------------------- 3.9/3.9 MB 615.6 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.1.0

In [3]:
import lxml
import pandas as pd
url_data=pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [4]:
type(url_data)

list

In [5]:
len(url_data)

1

In [6]:
df3=url_data[0]

In [7]:
df3

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [9]:
df3.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [10]:
df3.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [12]:
df3[['Age','FGA']]

    Age  FGA
0    24  331
1    20   86
2    21  399
3    28   44
4    29  884
..   ..  ...
670  26  968
671  26  641
672  26  327
673  22  373
674  25  619

[675 rows x 2 columns]

In [15]:
df3.to_csv("players_data.csv",index=False)